/* Main menu settings */

#menu {
background: #781818;
height: auto;
clear: both;
   float:left;
   margin: 0;
   padding: 0;
   width:100%;
  z-index:100; /* This makes the dropdown menus appear above the page content beow */
   position:relative;
font-family: "Lucida Sans", Tahoma, Geneva, sans-serif;
text-align: center;
border: none;
box-shadow: 0px 0px 5px 0px #781818; 
}




/* Top menu items */

#menu ul {
   margin: 0;
   padding:0;
   list-style:none;
   float:right;
   position:relative;
   right:50%;
height: 100%;
}

.show, #submenu, .hide {
   margin:0;
   padding:0;
   float:left;
   position:relative;
   left:50%;
   top:0;
height: 100%;
}

.show a, #submenu a, .hide a {
   display:block;
   margin:0;
   padding: .5em 1.4em .5em;
   font-size:1.1em;
   line-height:1.5em;
   text-decoration:none;
color: white;
background: #781818;
}

#submenu a { /* set colours of More... */ }



/* (when hovering over top menu items) */



.show:hover a,
.show.hover a {
color: white;
background: #b42424;
text-shadow: 2px 2px 2px #24454C;
}


#submenu:hover a, #submenu.hover a {
/*set colours of More... when hovering over submenu items */
color:white;
background: #781818;
}

#submenu #more:hover , #submenu #more.hover
/* higher priority than submenu:hover a */
 {
/*set colours of More... when hovering over it */
color: white;
background: #b42424;
text-shadow: 2px 2px 2px #24454C;
 }

.hide a:hover {
color: white;
background: #b42424;
text-shadow: 2px 2px 2px #24454C;
}




/* Submenu items */


#submenu ul {
display: none;        /* Sub menus are hiden by default */
   position:absolute;
float: left;
   top:2.75em;    /* 1.5em + .5em + .5em */
   width: 100%; /* width of the drop-down menus */
}

#submenu:hover ul,
#submenu.hover ul /* This line is required for IE 6 and below */
{    
display:block;       /* Make the sub menus appear on hover */
}


#submenu ul:hover,
#submenu ul.hover  /* This line is required for IE 6 and below */
{    
display:block;       /* Make the sub menus appear on hover */
}


#submenu li {
   clear:left;
   width:100%;
position: relative;
float: left;
padding: 0;
margin: 0;
 top:0;
left:50%;
height: 2.7em;
}




#submenu li a, #submenu:hover li a, #submenu.hover li a {
   font-size: 1em;
   position: relative;
padding: .6em .3em .6em;
color: white;		/* Sub menu items text colour */
background: #781818;	/* Sub menu items background colour */
border-top:1px solid #f06464;
}



/*when hovering over submenu items */



#submenu li a:hover,
#submenu:hover li a:hover,
#submenu.hover li a:hover { /* This line is required for IE 6 and below */
   background:#b42424; /* Sub menu items hover background colour */
   color: white; /* Sub menu items hover text colour */
text-shadow: 2px 2px 2px #24454C;
}


/* Hidden menu items - css to hide */

.hide {
display: none;
}







/* TABLET TABLET TABLET TABLET */


@media all and (max-width: 900px) {

#menu {
background: none;
margin: 0 auto;
float: left;
width: 23%;
padding: 4% 1% 3% 1%;
box-shadow: none;
overflow: auto;
position:relative;
display: block;
height: 100%;
}

#submenu {
display: none;
}

.hide {
display: block;
}

#menu ul li{
margin: 0 auto;
position: relative;
width: 90%;
padding: 0 0 0.2em 0;
}

.show a, .hide a {
   padding: 0;
width: 100%;
   font-size:1.5em;
   line-height:2em;
border-radius: 0.6em;
}

}

/* END TABLET  END TABLET */




/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */


@media all and (max-width: 320px) {


#submenu {
display: none;
}

.hide {
display: block;
}

#recbad {
border-bottom: 3px solid #781818;
}

#menu {
margin: 0 auto;
float: none;
width: 90%;
background: #e8F2F3;
padding: 1.2em 0 1.8em 0;
border-bottom: 3px solid #781818;
box-shadow: none;
overflow: auto;
}

#menu ul li{
width: 100%;
padding: 0 0 0.2em 0;

}

.show a, .hide a {
   padding: 0;
width: 100%;
   font-size:2em;
   line-height:2em;
border-radius: 0.6em;
}

}

/* END MOBILE END MOBILE END MOBILE */