body {
margin: 0;
padding: 0;
background: #e8F2F3;
font-size: 12pt;
}


/*MEDIA QUERY */
 @media all and (min-width: 320px) {
body {
background-image:url('images/rbh.jpg');
background-position: 60% 50%;
background-attachment:fixed; }
 }
/*END MEDIA QUERY*/

#content {
margin: 1em auto 1.5em;
border-radius: 15px;
width: 70%;
min-width: 850px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
overflow: auto;
}

#header {
font-family: "Lucida Sans", Tahoma, Geneva, sans-serif;
color: black;
text-align: center;
margin: 0;
padding: 0;
border: none;
background: #e8F2F3;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #CAECF3 0%, #A5D8FA 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #CAECF3 0%, #A5D8FA 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #CAECF3 0%, #A5D8FA 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CAECF3), color-stop(1, #A5D8FA));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #CAECF3 0%, #A5D8FA 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #CAECF3 0%, #A5D8FA 100%);
}

#recbad {
background: url('images/r1.png') no-repeat 1% 0.6em, url('images/r2.png') no-repeat 99% 0.6em;
background-size: 8em 8em;
}


#header p {
margin: 0;
font-weight: bold;
}

.big {
color: #b42424;
padding: 0.4em 0.2em 0.1em 0.2em;
font-size: 4em;
text-shadow: 2px 2px 8px #24454C;
letter-spacing:2px;
}

.big img {
vertical-align: top;
height: 1em;
padding: 0.1em;
}

.small {
color: #f06464;
padding: 0em 0 1.6em 0;
font-size: 0.95em;
}

.small img {
display: none;
vertical-align: top;
height: 3em;
padding: 0 0.5em;
}

#photo {
padding: 0;
}

#photo p{
padding: 0.2em 0 0.8em 0;
margin: 0 auto 0 0;
position: relative;
text-align: center;
font-size: 24pt;
}

#photo img {
vertical-align: bottom;
max-height: 355px;
max-width: 90%;
box-shadow: 0px 0px 10px 0px #78d8f0; 
}

#page {
width:100%;
float:left;
position:relative;
display: block;
padding: 0;
background: #e8F2F3;
}


#main {
float:left;
width:74%;
position:relative;
display: block;
height: 100%;
box-shadow: 3px 0px 3px -3px #888, 
inset -3px 0px 3px -3px #888;
}


#side {
float:left;
width:26%;
position:relative;
}



#main_inner {
color: #24454c;
display: block;
position:relative;
padding: 2em 1.3em 1em 1.3em;
min-height: 30em;                       /* ~height of side bar in ems */
overflow:auto;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.vid iframe , .vid img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main_inner h1{
text-decoration: none;
text-align: center;
font-size: 2.9em;
margin: 0 0 0 0;
padding: 0 0 0.2em 0;
color: #b42424;
text-shadow: 1px 1px 20px #fff;
box-shadow: inset 0px -3px 2px -3px #781818;
}

#main_inner h2{
margin: 0em;
padding: 0.6em 0 0.4em 0;
text-decoration: none;
font-size: 1.6em;
}

#main_inner h3{
margin: 0;
padding: 0.2em 0;
text-decoration: none;
font-weight: normal;
}

#main_inner p{
padding: 0.6em 0.2em;
margin: 0 0 0 0;
line-height: 150%;
}

#main_inner p.noscript{
font-size: 2em;
color: red;
}

#main_inner a{
font-weight: bold;
color: #b42424;
}

#main_inner ol, #main_inner ul{
margin: 0;
padding-left: 2.5em;
}

#side_inner {
padding: 2.1em 1em 0.3em 0.9em;
font-size: 1em;
margin: 0;
color: #24454c;
}


#side_inner h1 {
padding: 0 0 0.3em 0;
font-size: 1.5em;
font-weight: bold;
margin: 0;
}


#side p {
font-size: 1.2em;
padding: 0em 0 0.6em 0;
margin: 0;
}

#side a {
text-decoration: none;
margin: 0;
font-weight: bold;
color: #1093A7;
}

#fb {
vertical-align: top;
height: 1.2em;
padding: 0 0.2em 0 0;
}

#spons {
width: 100%;
max-width: 335px;
border: none;
padding: 0.2em 0 0 0;
vertical-align: middle;
}

#facebook, #sponsors, #subscribe, #email {
padding: 0 0em 1.5em 0;
}



#email {
padding-bottom: 0em;
}


input {
display: block;
padding: 0.2em;
max-width: 200px;
margin: 0;
margin-bottom:0.2em;
}

.wider
{
width: 80%;
}

.mobile {
display: none;
}

























/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
/* Tablet landscape */


@media all and (max-width: 900px) {

#content {
width: 90%;
min-width: 700px;
}

.recbadrecbad {
font-size: 0.9em;
}

#header {
border-bottom: solid 1px #781818;
}

#page {
    width:100%;
}

#main {
width: 75%;
box-shadow: -2px 0px 3px -3px #888,  inset 2px 0px 3px -3px #888;
}

#side {
width:100%;
border-top: 1px solid #781818;
}

#main_inner {
min-height: 6em;
padding-top: 1em;
}

#side_inner {
overflow: auto;
}

#side_inner h1 {
font-size: 1.8em;
}

#side_inner p {
font-size: 1.2em;
}

#facebook, #sponsors, #subscribe, #email {
    float:left;
    width:50%;
    position:relative;
display: block;
height: 100%;
padding-bottom: 2em;
}

#facebook h1, #facebook p, #subscribe h1, #subscribe p {
padding-right: 1em;
}

#sponsors h1, #sponsors p, #email h1 {
padding-left: 1em;
}

#email p {
padding-left: 1.5em;
}

}


/* END TABLET END TABLET END TABLET */
















/* MOBILE MOBILE MOBILE MOBILE MOBILE */

@media all and (max-width: 320px) {

body {
background-image: none;
}

#content {
width: 100%;
margin: 0;
min-width: 20px;
border-radius: 0;
box-shadow: none;
}

#recbad {
background-image: none;
}

.big img {
display: none;
}

.recbadrecbad {
font-size: 0.9em;
}

.hide2 {
display: none;
}

.mobile {
display: inline;
}

.big {
padding: 0.2em 0.1em 0.1em 0.1em;
text-shadow: 1px 1px 3px #24454C;
}

.small img {
display: inline;
}

#photo {
display: none;
}

#page {
overflow: auto;
}

#main {
width:100%;
box-shadow: none;
}

#side {
width:100%;
}

#main_inner {
word-wrap:break-word;
padding: 0.8em 0.5em 0.7em 0.5em;
border-bottom: 3px solid #781818;
min-height: 6em;
}

#facebook, #sponsors, #subscribe, #email {
width: 100%;
position:relative;
display: block;
height: 100%;
padding-bottom: 2em;
}

#facebook h1, #facebook p, #subscribe h1, #subscribe p, #sponsors h1, #sponsors p, #email h1, #email p {
padding-left: 0;
padding-right: 0;
}

/* END MOBILE END MOBILE END MOBILE */

}